* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 20px;
    background-color: burlywood;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 33%;
    border: 1px solid darkblue;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
}

img {
    width: 80%;
    height: auto;
    margin-top: 2px;
}
